.dashboard{
    display: flex;
    flex-direction: column;
    width: 100vw;

}


.dashboard header{
    background: #FFFFFF;
    /* Card Shadow */
    box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
    height: 64px;
    width: 100%;
    padding: 10px 56px;

}

.dashboard-main{
    display: flex;
    padding: 56px;
}

.dashboard-create{
    display: block;
    outline: none;
    /* Tertiary Black */
    border: 1px dashed #CCCCCC;
    border-radius: 4px;
    width: 240px;
    height: 160px;
    background-color: transparent;
    cursor: pointer;
}